
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,b, u, i, center,
dl, dt, dd, ol, ul, li,fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
	}
body {
	line-height: 1;
	}
ol, ul {
	list-style: none;
	}

	li {
		float:left;
	}


body {	
	font-family: "proxima nova", "minion-pro", Georgia, Times, serif;

	background: #F7F5E2;
	color: #333;
}




a:link,
a:visited {
	text-decoration: none;
	color: #000;
	text-transform:uppercase;
	}
a:hover {
	color: #777;
	}
p {
	margin-bottom: 20px;
	color:grey;
	
	width:100%;
	}
h1 {
	font-family:"proxima-nova";
	font-weight:800;
	font-size: 42px;
	line-height: 56px;
	padding-bottom:25px;
	}
h2 {
	font-size: 36px;
	line-height: 44px;
	}
h3 {
	font-size:9pt;
	text-transform: uppercase;
	font-family:"proxima-nova";
	font-weight:800;
	line-height: 40px;
	}
h4 {
	font-size: 27px;
	line-height: 35px;
	}
h5 {
	font-size: 24px;
	line-height: 32px;
	}
h6 {
	font-size: 18px;
	line-height: 26px;
	}

.container{
	width:712px;
	margin:0 auto;
}



.findoutmore, .sayhello, .sayhelloagain, .findoutmore1, .findoutmore2, .findoutmore3{

background:rgb(110, 153, 152);
width: 84px;
margin: 0 auto;
margin-left: 25px;
text-align: center;
padding-top: 3%;
padding-bottom: 3%;
/*background:rgb(111, 162, 197);*/
padding-left:16px;
padding-right:16px;
 border-radius:6px;
}

.sayhello{
	 border:2px solid #fff;
	 color: #fff;
	 background-color:transparent;
	 margin-left:32%;
}

.sayhelloagain{
	border:2px solid  rgb(103, 130, 141);
	color: rgb(103, 130, 141);
	background:transparent;
	margin-left:0px;
}

.findoutmore {
	border: 2px solid #407970;;
	color: #407970;;
	background:rgb(111, 162, 197)
}


.findoutmore a, .findoutmore1 a, .findoutmore2 a, .findoutmore3 a  {
	color:#488b96;
}

.findoutmore:hover, .findoutmore1:hover,.findoutmore2:hover,.findoutmore3:hover{
	background:#407970;;
	color:#fbc490;
}

.sayhello:hover{
	background-color:#fff;
	color:rgb(11, 50, 68);
}

.sayhelloagain:hover{
	background-color:rgb(103, 130, 141);
	color:rgb(204, 224, 192);
	
}

img.profile{
	max-width: 20%;
border-radius: 50%;
margin-left: -180px;
display: inline;
margin-top: -160px;
}

img.scenic{
		max-width: 80%;
	margin-left:15px;
margin-bottom:24px;
}



.header-image {
	position:absolute;
	top:0;
	bottom:0;
	max-height:811px;
	overflow:hidden;
	left:0;
	right:0;
	z-index:-1;
	border:10px solid #F7F5E2;
/* 	position:fixed; */

}

.header {
	padding-top:50px;
	margin-top:-10px;
	width:712px;
}

.header .navigation{
	list-style-type: none;
/* 	position:fixed; */
	z-index:999;
	margin: 0 auto;
}

.header .navigation-centered{
	width:712px;
	margin:0 auto;
}

.header .navigation li{
/* float: left; */
/* width: 84px; */
text-align: left;
/* margin-left: 5.7vw; */
font-size: 14pt;
text-transform: uppercase;
font-family: "proxima-nova";
font-weight: 800;
letter-spacing: 2px;
padding: 20px 20px;
}

.contactsme a{
	color:rgb(103, 130, 141);
	letter-spacing:8px;
}

a.themail{
	letter-spacing:2px;
	text-transform:lowercase;
}


.header .navigation-wrapper {
	position:fixed;
	margin:0 auto;
	width:100%;
	left:0;
	right:0;
	height:55px;
	z-index:9990;
}



.content,.content2,.content3{


	padding: 90px 48px 72px;
	font-size:16pt;
	line-height:22pt;
	letter-spacing:1px;
}

.content{
	margin-top:300px;
	background: #F7F5E2;
	padding:none;

	
}

.content p{
	background:#F7F5E2;
width: 100%;
}

.content2, .second{
	background: rgb(110, 153, 152);
	color:#F7F5E2;
}

.content3, .third{
	background:rgb(204, 224, 192);
	color: rgb(103, 130, 141)
}



.backstretch {
	width:100%;
}

.content .firstcharacter { 
	float: left; 
	font-size: 100px; 
	line-height: 30px; 
	padding-top: 4px; 
	padding-right: 8px; 
	padding-left: 3px; 
}

.content a{
	text-decoration: none;
}

.blank{
	visibility:hidden;
}

/* Clearfix */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/* $MEDIA PAGE
--------------------------------------------- */
body.page-id-683 section {
	margin: 70px 0 0;
}
.slideshow {
	position: relative;
}
.slideshow .double-border {
	margin-bottom: 0;
}
.slides {
	position: relative;
	margin: 0 0 20px;
	height: 380px;
	width: 100%;
}
.slide {
	position: absolute;
	display: none;
	height: 100%;
	width: 100%;
}
.dots-wrap {
	position: absolute;
	z-index: 1;
	height: 8px;
	width: 100%;
	left: 0;
	bottom: 12px;
	text-align: center;
}
.dots {
	display: inline-block;
	padding: 0 8px;
	background: #F7F5E2;
	max-width: 500px;
	line-height: 20px;
}
.dot {
	display: inline-block;
	height: 8px;
	width: 8px;
	background: #000;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.dot.current, .dot:hover {
	background: #abca99;
}
.arrow {
	display: block;
	position: absolute;
	bottom: -3px;
	height: 12px;
	width: 30px;
	background: #F7F5E2 url('-/img/icons.png') no-repeat 0 0;
}
.arrow span {
	display: none;
}
.arrow.prev {
	left: 0;
}
.arrow.prev:hover {
	background-position: 0 -20px;
}
.arrow.next {
	right: 0;
	background-position: -22px 0;
}
.arrow.next:hover {
	background-position: -22px -20px;
}

/* Videos */
.video-intro .callout {
	padding-bottom: 0;
}
body.page-id-683 .panel-section {
	margin-top: 40px;
}
.panel-headline {
	margin: 0 0 30px;
	font-size: 16pt;
	line-height: 22pt;
	letter-spacing: 1px;
	font-style: italic;
	font-weight: 700;
}
.panel-headline .subtitle {
	display: block;
	font-weight: 400;
}
.content .video-link {
	display: block;
	float: left;
	margin: 0 30px 20px 0;
	width: 184px;
	text-decoration: none;
	text-align: center;
}
.content .video-link-right {
	margin-right: 0;
}
.video-preview {
	position: relative;
}
.video-preview img {
	height: auto;
	width: 100%;
}
.video-title {
	display: block;
}

/* LIGHTBOXES - Base by Dmitry Semenov (Magnific Popup) */

	
/* $hd support
--------------------------------------------- */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (-moz-min-device-pixel-ratio: 2),
       only screen and (-o-min-device-pixel-ratio: 2/1),
       only screen and (min-device-pixel-ratio: 2) {
}